[user]
  name = Roy Kolak
  email = roy.kolak@gmail.com
[color]
  ui = true
[alias]
  st = status
  ci = commit --verbose
  co = checkout
  ch = checkout
  br = branch
  me = merge
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[branch]
  autosetuprebase = always
[core]
  excludesfile = ~/.gitignore

